* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin: 30px;
}
form {
    width: 50%;
    background: #D6D6D6;
    border-radius: 5px;
    margin: auto;
    padding: 30px;
}

input[type=text], [type=number], [type=email], select, option {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    margin: 10px 0 20px 0;
    font-size: 16px;
}

input[type=text], [type=number], [type=email], select:focus {
    border: 5px;
}

.btn {
    width: 100%;
    background: #D8315B;
    border-radius: 5px;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
}

.btn:hover {
    background: rgb(216, 49, 91, .9);
}

.seguros-info {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background: #8B9EB7;
    color: #fff;
    display:none;
}

@media only screen and (max-width: 768px) {
    form {width: 100%;}
    body {background: #f2f2f2;}
}

@media only screen and (max-width: 1200px) {
    form {width: 90%;}
}